{% setcontent imprint = 'blocks/imprint' %}
{% setcontent privacy = 'blocks/privacy' %}

<!--Footer-->
<footer class="bg-white">
	<div class="container px-8 mx-auto">

		<div class="flex flex-col w-full py-6 md:flex-row">

			<div class="flex-1 mb-6 text-black">

				<div class="flex flex-col items-center justify-center h-full">
					<a href="{{ path('homepage') }}" class="mb-4 text-2xl font-bold transform-gpu hover:scale-105 lg:text-4xl">
						{% include 'img/logo.svg' %}
					</a>
          {% if imprint is defined %}
            <a href="{{ imprint|link }}" class="hover:underline">{{ imprint|title }}</a>
          {% endif %}
          {% if privacy is defined %}
            <a href="{{ privacy|link }}" class="hover:underline">{{ privacy|title }}</a>
          {% endif %}
				</div>

			</div>

			{% include 'partials/_footer_links.twig' %}

		</div>
	</div>

</footer>
