{# The name of the `content` is passed in from the index, i.e. "blocks/people" #}
{% setcontent block = (content) returnsingle %}
{# The name of `contenttype` is passed in from the index, i.e. "people" #}
{% setcontent records = (contenttype) limit 4 random returnmultiple %}

<!-- Team overview -->
<section class="py-12 bg-white border-b">
	<div class="container px-5 pb-6 mx-auto">
		{% include 'partials/_block_header.twig' %}

		<div class="flex flex-wrap -m-4">

			{% for record in records %}
				<div class="p-4 lg:w-1/4 md:w-1/2">
					<div class="flex flex-col items-center h-full text-center">
						<img src="{{ record|thumbnail(800, 800, fit="crop") }}" alt="{{ record.name }} - {{ record.description }}" class="h-auto max-w-full align-middle border-none rounded-full shadow"/>
						<div class="w-full">
							<h2 class="my-3 text-lg font-bold text-gray-900 title-font">{{ record.name }}</h2>
							<h3 class="my-3 text-gray-500">{{ record.description }}</h3>
							<p class="mb-4 text-gray-700">{{ record|excerpt(100) }}</p>

							<span class="inline-flex">
								<a href="{{ record|link }}" class="inline-flex flex-shrink-0 px-6 py-2 text-white border-0 rounded hover:scale-105 transform-gpu lg:mt-2 xl:mt-0 gradient">
									{{ __('general.phrase.read-more') }}
								</a>
							</span>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
</section>
