{# The name of the `content` is passed in from the index, i.e. "blocks/hero" #}
{% setcontent block = (content) returnsingle %}

<!--Hero-->
<div class="pt-24 backgroundimg" style="background-image: url('{{ record|thumbnail(height=1080) }}');">

  <div class="container flex flex-col flex-wrap items-center px-3 mx-auto md:flex-row" >
    <!--Left Col-->
    <div class="flex flex-col items-center justify-center w-full text-center lg:w-3/5 md:mx-auto">
      <h3 class="w-full uppercase tracking-loose">{{ record.introduction }}</h3>
      <h1 class="my-4 text-5xl font-bold leading-tight">{{ config.get('general/payoff') }}</h1>
      <p class="hidden mb-4 text-2xl leading-normal md:block">{{ record.content }}</p>
      <a href="{{ record.link }}" class="px-8 py-4 mx-auto my-6 font-bold text-gray-800 transition duration-150 ease-in-out bg-white rounded-full shadow-lg lg:mx-0 transform-gpu hover:scale-105">
        {{ __('general.phrase.read-more') }}
      </a>
    </div>
  </div>

  {% include 'partials/_divider.twig' %}
</div>
