{# The name of the `content` is passed in from the index, i.e. "blocks/introduction" #}
{% setcontent block = (content) returnsingle %}
{# The name of `contenttype` is passed in from the index, i.e. "pages" #}
{% setcontent records = (contenttype) limit 3 %}

<section class="bg-gray-100 py-8">
  <div class="container mx-auto px-2 pt-4 pb-12 text-gray-800">
    {% include 'partials/_block_header.twig' %}

    <div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4">
      {% for record in records %}

        {% if loop.index == 2 %}
          <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-auto sm:-mt-6 shadow-lg z-10">
            <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
              <h4 class="w-full p-8 text-3xl font-bold text-center">{{ record|title }}</h4>
              <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
              <img class="w-full object-cover object-center" src="{{ record|thumbnail(750, 300, fit="crop") }}" alt="{{ record|image.title }}">
              <ul class="w-full text-center text-base font-bold">
                <li class="border-b py-4">{{ record.feature_1 }}</li>
                <li class="border-b py-4">{{ record.feature_2 }}</li>
                <li class="border-b py-4">{{ record.feature_3 }}</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6 h-100">
              <div class="w-full pt-6 text-4xl font-bold text-center">{{ record.price }}</div>
              <div class="flex items-center justify-center">
                <a href="{{ record.link }}" class="mx-auto lg:mx-0 gradient text-white font-bold rounded-full my-6 py-3 px-6 shadow-lg transform-gpu transition duration-150 ease-in-out hover:scale-105">
                  {{ __('general.phrase.read-more') }}
                </a>
              </div>
            </div>
          </div>


        {% else %}
          <div class="flex flex-col w-5/6 lg:w-1/4 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
            <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
              <h4 class="p-8 text-3xl font-bold text-center border-b-4">{{ record|title }}</h4>
              <img class="w-full object-cover object-center" src="{{ record|thumbnail(600, 300, fit="crop") }}" alt="{{ record|image.title }}">
              <ul class="w-full text-center text-sm">
                <li class="border-b py-4">{{ record.feature_1 }}</li>
                <li class="border-b py-4">{{ record.feature_2 }}</li>
                <li class="border-b py-4">{{ record.feature_3 }}</li>
              </ul>
            </div>
            <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-5 h-100">
              <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center">{{ record.price }}</div>
              <div class="flex items-center justify-center">
                <a href="{{ record.link }}" class="mx-auto lg:mx-0 gradient text-white font-bold rounded-full my-6 py-3 px-6 shadow-lg transform-gpu transition duration-150 ease-in-out hover:scale-105">
                  {{ __('general.phrase.read-more') }}
                </a>
              </div>
            </div>
          </div>

        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>
