{# The name of the `content` is passed in from the index, i.e. "blocks/introduction" #}
{% setcontent block = (content) returnsingle %}
{# The name of `contenttype` is passed in from the index, i.e. "pages" #}
{% setcontent records = (contenttype) where { groups: 'main' } limit 3 %}

<section class="py-8 bg-gray-200">

  {% include 'partials/_block_header.twig' %}

	<div class="container px-2 mx-auto text-gray-800 md:pb-6">

		<div class="flex flex-col justify-center my-6 md:pt-12 md:my-4 md:flex-row">

			{% for record in records %}

				{% if loop.index == 2 %}
					<div class="z-10 flex flex-col w-11/12 mx-auto mt-4 bg-white rounded-lg shadow-lg lg:w-1/3 lg:mx-0 md:-mt-6">
						<div class="flex-1 overflow-hidden bg-white rounded-t rounded-b-none shadow">
							<h4 class="w-full py-8 text-3xl font-bold text-center md:p-8">{{ record|title }}</h4>
							<div class="w-full h-1 py-0 my-0 rounded-t gradient"></div>
              <img class="object-cover object-center w-full" src="{{ record|thumbnail(700, 300, fit="crop") }}" alt="{{ record|image.title }}">
							<ul class="w-full text-base font-bold text-center">
								<li class="py-4 border-b">{{ record.feature_1|default('---') }}</li>
								<li class="py-4 border-b">{{ record.feature_2|default('---') }}</li>
								<li class="py-4 border-b">{{ record.feature_3|default('---') }}</li>
							</ul>
						</div>
						<div class="flex-none p-6 mt-auto overflow-hidden bg-white rounded-t-none rounded-b shadow">
							<div class="w-full pt-6 text-4xl font-bold text-center">
                {{ record.price|default('') }}
							</div>
							<div class="flex items-center justify-center">
                <a href="{{ record|link }}" class="px-6 py-4 mx-auto my-6 font-bold text-white rounded-full shadow-lg lg:mx-0 gradient transform-gpu hover:scale-105">
                  {{ __('general.phrase.read-more') }}
                </a>
							</div>
						</div>
					</div>

				{% else %}
					<div class="flex flex-col w-11/12 mx-auto mt-4 bg-white rounded-none lg:w-1/4 lg:mx-0 lg:rounded-l-lg">
						<div class="flex-1 overflow-hidden text-gray-600 bg-white rounded-t rounded-b-none shadow">
							<h4 class="p-8 text-3xl font-bold text-center border-b-4">{{ record|title }}</h4>
              <img class="object-cover object-center w-full" src="{{ record|thumbnail(600, 300, fit="crop") }}" alt="{{ record|image.title }}">
							<ul class="w-full text-sm text-center">
								<li class="py-4 border-b">{{ record.feature_1|default('---') }}</li>
								<li class="py-4 border-b">{{ record.feature_2|default('---') }}</li>
								<li class="py-4 border-b">{{ record.feature_3|default('---') }}</li>
							</ul>
						</div>
						<div class="flex-none p-6 mt-auto overflow-hidden bg-white rounded-t-none rounded-b shadow">
							<div class="w-full pt-6 text-3xl font-bold text-center text-gray-600">
                {{ record.price|default('') }}
							</div>
							<div class="flex items-center justify-center">
                <a href="{{ record|link }}" class="px-5 py-3 mx-auto my-6 font-bold text-white rounded-full shadow-lg opacity-90 lg:mx-0 gradient transform-gpu hover:scale-105">
                  {{ __('general.phrase.read-more') }}
                </a>
							</div>
						</div>
					</div>

				{% endif %}

			{% endfor %}

		</div>

	</div>


</section>
