{# The name of the `content` is passed in from the index, i.e. "blocks/introduction" #}
{% setcontent block = (content) returnsingle %}
{# The name of `contenttype` is passed in from the index, i.e. "pages" #}
{% setcontent records = (contenttype) where { groups: 'main' } limit 2 %}

<!-- Introduction -->
<section class="py-4 bg-white border-b md:py-8">
  {% include 'partials/_block_header.twig' %}
  <div class="container max-w-5xl mx-auto my-4 md:my-8">

    {% for record in records %}
      <div class="flex flex-wrap pt-4 {% if loop.index is even %}flex-col-reverse sm:flex-row{% endif %}">

        {% if loop.index is even %}
          <div class="w-full px-6 pb-6 sm:w-1/2 sm:p-6">
            <img class="object-cover object-center w-full" src="{{ record|thumbnail(500, 300, fit="crop") }}" alt="{{ record|image.title }}">
          </div>
        {% endif %}

        <div class="flex flex-col w-5/6 px-6 pb-6 sm:w-1/2 sm:p-6">
          <span class="font-medium tracking-widest text-gray-800 title-font">
            {% for type, taxonomies in record|taxonomies %}
              {% if taxonomies|length > 0 %}
                {% for taxonomy in taxonomies %}
                  <a class="hover:underline" href="{{ taxonomy|link }}">{{ taxonomy.name }}</a>
                  {%- if not loop.last %} | {% endif %}
                {% endfor %}
                {%- if not loop.last %} <br> {% endif %}
              {% endif %}
            {% endfor %}
          </span>
          <span class="my-1 text-sm text-gray-500">
            {{ record.publishedAt|localdate }}
          </span>
          <a class="hover:underline" href="{{ record|link }}">
            <h3 class="mb-3 text-3xl font-bold leading-none text-gray-800 hover:underline">{{ record|title }}</h3>
          </a>
          <p class="text-gray-600">{{ record.teaser|default(record|excerpt(300)) }}</p>
          <a href="{{ record|link() }}" class="inline-flex items-center text-lg text-indigo-500 hover:underline md:mb-2 lg:mb-0 md:mt-4">
            {{ __('general.phrase.read-more') }} »
          </a>
        </div>

        {% if loop.index is odd %}
          <div class="w-full px-6 pb-6 sm:w-1/2 sm:p-6">
            <img class="object-cover object-center w-full" src="{{ record|thumbnail(500, 300, fit="crop") }}" alt="{{ record|image.title }}">
          </div>
        {% endif %}

      </div>
    {% endfor %}

  </div>
</section>
