<!DOCTYPE html>
<html lang="{{ htmllang() }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# favicons #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=20211109">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=20211109">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png?v=20211109">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=20211109">
    <link rel="manifest" href="/site.webmanifest?v=20211109">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=20211109" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=20211109">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    {# make sure we always display a proper title: The record's title if there is one, appended with the
    sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
      {%- if record|default and record.title -%}
      {{- record.title ~ ' | ' -}}
      {%- endif -%}
      {{- config.get('general/sitename') -}}
      {%- if record|default == null and config.has('general/payoff') -%}
      {{- ' | ' ~ config.get('general/payoff') -}}
      {%- endif -%}
    </title>

    <style>
      .gradient {
        background: linear-gradient(to right, #E2001A, #00509D);
      }
    </style>

    <link rel="stylesheet" href="{{ asset('css/threemonkey.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
    <script defer src="https://unpkg.com/alpinejs@3.3.4/dist/cdn.min.js"></script>
  </head>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
    {% include 'partials/_header.twig' %}

    {% block main %}
    {% endblock main %}

    {% include 'partials/_footer.twig' %}
  </body>
</html>
